{% extends 'base.html' %}
{% block head_right %}
    <div class="auth">
    {% if user.is_authenticated %}

        User: <a href="{% url 'profile' %}">{{ user }}</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="button">Login</a>|<a class="button" href="{% url 'register' %}">Reg</a>
    {% endif %}
    </div>
{% endblock %}
{% block head_left %}
    {% if user.is_staff %}
        <a class="button" href="{% url 'update_list' %}">Update</a>
    {% endif %}
{% endblock %}
{% block content %}
    <a class="button start-game" href="{% url 'quiz_page' %}">Let`s Go</a>
{% endblock %}