{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Quiz</h1>
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {% if game_over %}
        {% if win %}
            <h1>Congratulations</h1>
        {% else %}
            <h1>You lose</h1>
        {% endif %}
        <h1>Mystery player: {{ mystery_player }}</h1>
        <a href="{% url 'quiz_page' %}">Play again?</a>
    {% else %}
    <table>
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Nationality</th>
            <th>Team</th>
            <th>Age</th>
            <th>Major Winner</th>
            <th>Major MVP</th>
        </tr>
    </thead>
    <tbody>
        {% for player in samples_list %}
        <tr>
            <td {% if player.nickname == mystery_player.nickname %}bgcolor="green"{% endif %}>{{ player.nickname }}</td>
            <td {% if player.country == mystery_player.country %}bgcolor="green"{% else %}{% if player.region == mystery_player.region %}bgcolor="yellow"{% endif %}{% endif %}><img src="{% static 'img/flags/' %}{{ player.country }}.svg"></td>
            <td {% if player.team == mystery_player.team %}bgcolor="green"{% endif %}>{{ player.team }}</td>
            <td {% if player.age == mystery_player.age %}bgcolor="green"{% endif %}>{{ player.age }}{% if player.age > mystery_player.age %}↓{% else %}{% if player.age < mystery_player.age %}↑{% endif %}{% endif %}</td>
            <td {% if player.major_winner == mystery_player.major_winner %}bgcolor="green"{% endif %}>{{ player.major_winner }}</td>
            <td {% if player.major_MVP == mystery_player.major_MVP %}bgcolor="green"{% endif %}>{{ player.major_MVP }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <button onclick="myFunction()" class="dropbtn">Players</button>
    <div id="myDropdown" class="dropdown-content">
        <form action="{% url 'quiz_page' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            {% for item in players %}
                <button type="submit" value="{{ item }}" name="button">{{ item }}</button>
            {% endfor %}
        </form>
    </div>
    {% endif %}
{% endblock %}